{
  "presets": [
    "es2015",
    "stage-0"
  ],
  "plugins": [
    [
      "module-resolver", {
        "root": [ "./src" ],
        "alias": {
          "@src": "./src",
          "@utils": "./src/utils",
          "@test": "./test"
        },
        "extensions": [ ".js" ]
      }
    ]
  ],
  "env": {
    "test": {
      "plugins": ["istanbul"]
    }
  }
}